body {
  font-family: Arial;
  line-height: 1.6;
  background: linear-gradient(0deg, rgb(248, 174, 186), white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(0deg, rgb(240, 148, 163), pink);
  color: white;
  padding: 20px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.home {
  text-decoration: none;
  background: white;
  color: #ff69b4;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.home:hover {
  background: #ff69b4;
  color: white;
}

/* CONTAINER */
.container {
  background: #fdd9eb;
  padding: 20px;
}

/* BUTTON THEO DÕI */
.tdd {
  text-align: center;
  margin-bottom: 20px;
}

.tdd a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background: #bbeeee;
  color: #140c0c;
  text-decoration: none;
  transition: 0.3s;
}

.tdd a:hover {
  background: #279f9f;
  color: white;
  border: 1px solid #0f7f7f;
}

/* TABLE */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #ffb6c1;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

/* CHECKOUT */
.checkout {
  text-align: right;
  width: 80%;
  margin: 20px auto;
}

.checkout button {
  background: red;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.checkout button:hover {
  background: darkred;
}

/* FOOTER */
footer {
  margin-top: 30px;
}

.f {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding: 20px;
  background: white;
}

.f div {
  width: 23%;
}

.e {
  padding: 7px;
  width: 100%;
}

button {
  cursor: pointer;
  background: rgb(189, 226, 189);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.dk {
  background: orange;
}
